<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Yoyo <%= @user.first_name %> and thank you !</h1>
  <p>
    You are on kittenfest
  </p>

  <p>
    - You paid <%#= @items.price EUR. %>
  </p>
  <p>
    You can connect on: <%= @url %>.
  </p>
  <p> See you soon on kittenfest ! </p>
</body>
</html>
