<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Welcome <%= @user.email %> </h1>
    <p>
      You are on Kittenfest!! Congrats !!
    </p>
    <p>
      You can connect on: <%= @url %>.
    </p>
    <p> See you soon on Kittenfest ! </p>
  </body>
</html>
