<div id="<%= dom_id cart %>">
  <% if action_name != "show" %>
    <%= link_to "Show this cart", cart, class: "btn" %>
    <%= link_to 'Edit this cart', edit_cart_path(cart), class: "btn" %>
    <hr class="mt-6">
  <% end %>
</div>
