<h1 class="text-5xl p-5 m-5">Kittenfest</h1>

<div class="w-1/2 h-4/6 p-5 m-5 flex flex-row grid grid-cols-2 gap-4 rounded-lg shadow-lg bg-white bg-opacity-75 text-center text-xl leading-loose content-center justify-center items-center justify-items-center">
  <div>
  <img src="https://cdn-icons-png.flaticon.com/512/2865/2865755.png" class="m-4 max-h-85">
  </div>
  <div>
  <a class="italic">Do you love cats and want to help them take over the world?</a><br/>
  <a>So welcome to our site selling images of super cute cats and kittens!</a><br/>
  <a>You will be able to cover your walls, those of your neighbour, those of your grandmother...</a><br/>
  <a>In short: <a class="font-semibold">the conquest of kittens is already underway!</a></a>
  </div>
</div>