<h1 class="text-5xl p-5 m-5">Contact us</h1>

<div class="w-1/2 h-4/6 p-5 m-5 flex flex-row grid grid-cols-2 gap-4 rounded-lg shadow-lg bg-white bg-opacity-75 text-center text-xl leading-loose content-center justify-center items-center justify-items-center">
  <div>
    <a class="italic">If you wish to contact us please call us at +555-1032-5432 from 8am-6pm Eastern Time.</a><br/>
    <a>You can also reach out at kitten@yopmail.com.</a><br/>
  </div>
  <div>
    <img src="https://cdn-icons-png.flaticon.com/512/1161/1161724.png" class="m-4 max-h-80">
  </div>
</div>
